{{ define "main" }}

<section class="py-7">
    <div class="container">
        <div class="row">
            <span class="kicker col_brand">{{ .Title }}</span>
            <h1 class="text-white">Check out our past projects</h1>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row g-4">
          
            {{ range where .Pages "Section" "portfolio" }}
            <div class="col-lg-4">
                <a href="{{ .RelPermalink }}" class="cardAnchor">
                    <div class="card card_brand backdrFilter brand__hoverEffect rounded-3">
                        <div class="card-body">
                            <span class="kicker text-white">{{ .Params.ProjectYear }}</span>
                            <span class="kicker text-white"> / {{ range .Params.categories }}{{ . }}{{ end }}</span>
                            <div class="spacer_100"></div>
                            <h3 class="my-3 blog_tile_title">{{ .Title }}</h3>
                            <p class="blog_tile_summ">{{ .Summary }}</p>
                            <div class="mt-4">
                                <a href="{{ .RelPermalink }}" class="anchor-brand fst-italic">MORE </a><span class="col-gray-400"><i class="fa-solid fa-chevron-right"></i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
    
        </div>
    </div>
</section>

{{ partial "generalCallToAction.html" }}




{{ end }}