{{ define "main" }}

<section class="py-7">
    <div class="container">
        <div class="row">
            <span class="kicker col_brand">{{ .Title }}</span>
            <h1 class="text-white">Check out our past projects</h1>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row g-3">
          
            {{ range where .Pages "Section" "portfolio" }}
            <div class="col-lg-4">
                <a href="{{ .RelPermalink }}" class="cardAnchor">
                    <div class="card card_brand backdrFilter brand__hoverEffect">
                        <div class="card-body">
                            <div class="spacer_100"></div>
                            <span class="kicker col_brand">{{ .Params.ProjectYear }}</span>
                            <h3 class="mb-3"><a class="blog_tile_title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                            <a class="blog_tile_summ" href="{{ .RelPermalink }}"><p>{{ .Summary }}</p></a>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
    
        </div>
    </div>
</section>

{{ partial "generalCallToAction.html" }}




{{ end }}