{{ define "main" }}


<section class="py-7">
    <div class="container">
        <div class="row">
            <span class="kicker col_brand">{{ .Title }}</span>
            <h1 class="text-white fw-bold">Check out our past projects</h1>
        </div>
    </div>
</section>

<section class="py-5 bg_gradient_2 elev-inset">
    <div class="container">
        <div class="row g-4">
          
            {{ range where .Pages "Section" "portfolio" }}

            <div class="col-lg-4">
                <a href="{{ .RelPermalink }}" class="cardAnchor">

                    <div class="card card_brand backdrFilter brand__hoverEffect rounded-3 blog_tile" 
                        style="background-image: url('{{ .Site.BaseURL }}{{ .Params.featuredImage }}')">

                        <div class="bg_gradientOverlay">
                            <div class="card-body">
                                <span class="kicker text-white">{{ .Params.ProjectYear }}</span>
                                <span class="kicker text-white"> / 
                                    {{ range .Params.categories }}{{ . }} {{ end }}</span>

                                <div class="spacer_200"></div>

                                <h6 class="">{{ .Params.Customer }}</h6>
                                <h4 class="my-2 blog_tile_title">{{ .Title }}</h4>
                                <p class="fs-7">{{ .Summary }}</p>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            {{ end }}
    
        </div>
    </div>
</section>

{{ partial "generalCallToAction.html" }}

{{ end }}