<!DOCTYPE html>  
    {{- partial "head.html" . -}}  
    <body>  
        {{- partial "header.html" . -}}  
        <main>  
        
            <section class="py-7">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="kicker col_brand ">{{ .Title }}</p>
                            <h1 class="text-white fw-bold fw-bold">{{ .Params.heroClaim }}</h1>
                            <p class="col-gray-700 fst-italic fs-6 mt-5">* alle Screenshots aus Space Four Projekten entommen</p>
                        </div>
                    </div>
                </div>
            </section>

        {{ .Content }}

        {{- partial "generalCallToAction.html" . -}} 
        </main>  
        {{- partial "footer.html" . -}}  
    </body>  
</html>
