<!DOCTYPE html>  
    {{- partial "head.html" . -}}  
    <body>  
        {{- partial "header.html" . -}}  
        <main>  
        
            <section class="py-10 bg_gradient elev-inset">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="kicker col_brand ">{{ .Title }}</p>
                            <h1 class="text-white fw-bold fw-bold display-1">{{ .Params.heroClaim }}</h1>
                            <p class="col-gray-500 fst-italic fs-6 mt-3">* alle Screenshots aus tatsächlichen Space Four Projekten entommen</p>
                        </div>
                    </div>
                </div>
            </section>

        {{ .Content }}

        {{- partial "generalCallToAction.html" . -}} 
        </main>  
        {{- partial "footer.html" . -}}  
    </body>  
</html>
