:root {
  /* STYLE GUIDE */
  --grey: rgb(180, 180, 180);
  --grey2: rgb(122, 122, 122);

  --primaryColor: #6247aa;

  --primary-font: 'Rubik', sans-serif;

  --space-black: #060f12;
}

/* CSS Prefix */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

  font-family: var(--primary-font);
}

body {
  padding-top: 75px; 
  background-color: var(--space-black);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/******************************************************************************/
/* Font Styles */

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

.p-md {
  font-size: 18px;
}

.p-l {
  font-size: 22px;
}

.kicker {
  font-weight: 700;
  letter-spacing: 1.2px;
}

.anchor-brand {
  color: white;
  text-decoration: underline;
}

.anchor-brand:hover {
  color: var(--primaryColor);
  text-decoration: underline;
  transition: all ease 0.2s;
}

/******************************************************************************/
/* Colors */

.col_brand {
  color: var(--primaryColor)
}

.col_grey {
  color: var(--grey)
}

/*****************************************************************************/
/* Background Styles */

.bg_dotted {
  background: url('/media/images/backgr_dots.svg') repeat center bottom fixed;
}

.bg_noise {
  background: url('/media/images/nnnoise.svg') repeat center bottom fixed;
}

.bg_coruscant {
  background:     
    linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), 
  url(../media/2418844.jpg) no-repeat center bottom fixed;
}

.backdrFilter {
  /* Fallback if @supports does not work */
  background: hsl(0 0% 80% / 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
  /*If Browser supports Backdrop-Filter -> Use this instead of other background styles from above*/
  .backdrFilter {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0.5rem);
  }
}
/*
.backdrFilter-2 {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(25px);
}
*/
/*****************************************************************************/
/* Card Styles */

@media screen and (min-width: 768px) {
  .brand__hoverEffect:hover {
      transform: translateY(-8px);
      box-shadow: 0px 0px 25px 0px var(--primaryColor);
      transition: all 0.3s ease-in-out;
  }
}

.cardAnchor {
  text-decoration: none;
  color: black;
}

.cardAnchor:hover {
  color: black;
}

.coruscantCard {
  color: white;
  border: 3px solid var(--grey2);
}

.coruscantCard:hover {
  border: 3px solid white;
}

/********************************************************************************/
/* Buttons */


.btn_brand {
  border-radius: 25px;
  padding: 7px 30px;
	font: var(--primary-font);
	cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.btn_brand_prm {
  box-shadow: 4px 3px 0px 2px #422E77;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #6247AA;
  background: var(--primaryColor);
	color: white;
}

.btn_brand_prm:hover {
  box-shadow: none;
  transform: translate(3px, 4px);
  transition: all 0.1s ease;
}

.btn_brand_scnd {
  background-color: white;
  color: var(--space-black)
  border: none;
}

/********************************************************************************/
/* Card Background Gif Shenanigans */

/* 
  Background Gifs are only applied on Desktop (just too much on mobile) 
  To add new => Add gif to "PlanetGifs" Copy backgr_gif_{gifname} and backgr_gif_{gifname}:hover
  Copy card in index and replace {gifname}
*/


@media screen and (min-width: 768px) {

  .backgr_gif_coruscant{
    background: none;
  }
  
  .backgr_gif_coruscant:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/coruscant.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_archive{
    background: none;
  }
  
  .backgr_gif_archive:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/archive.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_hyperspace{
    background: none;
  }
  
  .backgr_gif_hyperspace:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/hyperspace.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_council{
    background: none;
  }
  
  .backgr_gif_council:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/council.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_cloud{
    background: none;
  }
  
  .backgr_gif_cloud:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/cloud.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_credits{
    background: none;
  }
  
  .backgr_gif_credits:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/credits.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_done{
    background: none;
  }
  
  .backgr_gif_done:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/done.gif) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_home{
    background: none;
  }
  
  .backgr_gif_home:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), 
    url(../media/planetGifs/home.webp) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_deathStar{
    background: none;
  }
  
  .backgr_gif_deathStar:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), 
    url(../media/planetGifs/deathStar.gif) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/*****************************************************************/
/* FOOTER */

.footer p {
  color: var(--grey);
  font-size: 13px;
}

.footer p a {
  color: white;
}

/********************************************************************************/
/* Miscellaneous */

/* Mostly Customstuff to Overwrite Bootstrap Defaults */

.brandSvg_header, .brandSvg_header circle{
  fill: #ffffff;
  height: 30px;
}

.brandSvg_header:hover, .brandSvg_header circle:hover {
  fill: var(--primaryColor);
  transition: fill 0.2s ease-in-out;
}

.spacer {
  margin-top: 300px;
}

.icon-sm {
  max-width: 40px;
}


@media screen and (min-width: 576px) {

  .rounded-xs {
    border-radius: 0.375rem;
  }

}