:root {
  /* STYLE GUIDE */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --primaryColor: #6247aa;

  --space-black: #060f12;
  
  --linkColor: white;
  --linkColorHover: rgb(155, 155, 155);

  --primary-font: 'Rubik', sans-serif;
}

/* CSS Prefix */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

  font-family: var(--primary-font);
}

body {
  padding-top: 75px; 
  background-color: var(--space-black);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/******************************************************************************/
/* Font Styles */

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

.p-md {
  font-size: 18px;
}

.p-l {
  font-size: 22px;
}

.kicker {
  font-weight: 700;
  letter-spacing: 1.2px;
}

.anchor-brand {
  color: var(--linkColor);
  text-decoration: none;
}

.anchor-brand:hover {
  color: var(--linkColorHover);
  text-decoration: none;
  transition: all ease 0.2s;
}

/******************************************************************************/
/* Colors */

.col_brand {
  color: var(--primaryColor)
}

.col_grey {
  color: var(--grey)
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-gray-300 {
  background-color: var(--gray-300);
}

.bg-gray-400 {
  background-color: var(--gray-400);
}

.bg-gray-500 {
  background-color: var(--gray-500);
}

.bg-gray-600 {
  background-color: var(--gray-600);
}

.bg-gray-700 {
  background-color: var(--gray-700);
}

.bg-gray-800 {
  background-color: var(--gray-800);
}

.bg-gray-900 {
  background-color: var(--gray-900);
}

.col-gray-100 {
  color: var(--gray-100);
}

.col-gray-200 {
  color: var(--gray-200);
}

.col-gray-300 {
  color: var(--gray-300);
}

.col-gray-400 {
  color: var(--gray-400);
}

.col-gray-500 {
  color: var(--gray-500);
}

.col-gray-600 {
  color: var(--gray-600);
}

.col-gray-700 {
  color: var(--gray-700);
}

.col-gray-800 {
  color: var(--gray-800);
}

.col-gray-900 {
  color: var(--gray-900);
}

/*****************************************************************************/
/* Elevation */

.elev-100 {
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
}

.elev-200 {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)
}

.elev-300 {
  box-shadow:0 1rem 3rem rgba(0,0,0,.175)
}

.elev-100-hovOnly:hover {
  box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
  transition: all 0.2s ease-in-out;
}

.elev-200-hovOnly:hover {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
  transition: all 0.2s ease-in-out;
}

.elev-300-hovOnly:hover {
  box-shadow:0 1rem 3rem rgba(0,0,0,.175);
  transition: all 0.2s ease-in-out;
}

.elev-inset {
  box-shadow: inset 0px 0px 16px 8px rgba(6,15,18,0.6);
}

/*****************************************************************************/
/* Blog Styles */

.blog_tile_summ {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.blog_tile_summ:hover {
  color: white;
}

.blog_tile_title {
  text-decoration: none;
  color: white;
}

.blog_tile_title:hover {
  color: var(--linkColorHover);
}

/*****************************************************************************/
/* Background Styles */

.bg_gradient {
  /* Made with https://fffuel.co/bbblurry/ */
  background: url('/media/images/bbblurry.svg') no-repeat center bottom fixed;
  background-size: cover;
}

.bg_dotted {
  background: url('/media/images/backgr_dots.svg') repeat center bottom fixed;
}

.bg_noise {
  background: url('/media/images/nnnoise.svg') repeat center bottom fixed;
}

.bg_coruscant {
  background:     
    linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ), 
  url(../media/2418844.jpg) no-repeat center bottom fixed;
}

.backdrFilter {
  /* Fallback if @supports does not work */
  background: hsl(0 0% 80% / 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
  /*If Browser supports Backdrop-Filter -> Use this instead of other background styles from above*/
  .backdrFilter {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(0.5rem);
  }
}
/*
.backdrFilter-2 {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(25px);
}
*/
/*****************************************************************************/
/* Card Styles */

@media screen and (min-width: 768px) {
  .brand__hoverEffect {
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
  }

  .brand__hoverEffect:hover {
      transform: translateY(-8px);
      box-shadow:  14px 14px 28px #020607,
      -14px -14px 28px #0a181d69;

  }
}

.cardAnchor {
  text-decoration: none;
  color: black;
}

.cardAnchor:hover {
  color: black;
}

.card_brand {
  color: white;
  border: 2px solid var(--gray-700);
}

.card_brand:hover {
  border: 2px solid white;
}

/********************************************************************************/
/* Buttons */


.btn_brand {
  border-radius: 25px;
  padding: 7px 30px;
	font: var(--primary-font);
	cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.btn_brand_prm {
  box-shadow: 4px 3px 0px 2px #422E77;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #6247AA;
  background: var(--primaryColor);
	color: white;
}

.btn_brand_prm:hover {
  box-shadow: none;
  transform: translate(3px, 4px);
  transition: all 0.1s ease;
}

.btn_brand_scnd {
  background-color: white;
  color: var(--space-black);
  border: none;
}

/********************************************************************************/
/* Card Background Gif Shenanigans */

/* 
  Background Gifs are only applied on Desktop (just too much on mobile) 
  To add new => Add gif to "PlanetGifs" Copy backgr_gif_{gifname} and backgr_gif_{gifname}:hover
  Copy card in index and replace {gifname}
*/


@media screen and (min-width: 768px) {

  .backgr_gif_coruscant{
    background: none;
  }
  
  .backgr_gif_coruscant:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/coruscant.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_archive{
    background: none;
  }
  
  .backgr_gif_archive:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/archive.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_hyperspace{
    background: none;
  }
  
  .backgr_gif_hyperspace:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/hyperspace.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_council{
    background: none;
  }
  
  .backgr_gif_council:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/council.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_cloud{
    background: none;
  }
  
  .backgr_gif_cloud:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/cloud.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_credits{
    background: none;
  }
  
  .backgr_gif_credits:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/credits.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_done{
    background: none;
  }
  
  .backgr_gif_done:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url(../media/planetGifs/done.gif) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_home{
    background: none;
  }
  
  .backgr_gif_home:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), 
    url(../media/planetGifs/home.webp) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .backgr_gif_deathStar{
    background: none;
  }
  
  .backgr_gif_deathStar:hover {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), 
    url(../media/planetGifs/deathStar.gif) no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/*****************************************************************/
/* FOOTER */

.footer p {
  color: var(--grey);
  font-size: 13px;
}

.footer p a {
  color: white;
}

/********************************************************************************/
/* Miscellaneous */

/* Mostly Customstuff to Overwrite Bootstrap Defaults */

.brandSvg_header, .brandSvg_header circle{
  fill: #ffffff;
  height: 30px;
}

.brandSvg_header:hover, .brandSvg_header circle:hover {
  fill: var(--primaryColor);
  transition: fill 0.2s ease-in-out;
}

.spacer_100 {
  margin-top: 100px;
}

.spacer_300 {
  margin-top: 300px;
}

.icon-sm {
  max-width: 40px;
}


@media screen and (min-width: 576px) {

  .rounded-xs {
    border-radius: 0.375rem;
  }

}