<div class="modal fade backdrFilter" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Get in Touch with us!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Rufen Sie uns an</h6>
          <button class="btn_brand btn_brand_prm">Call</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn_brand btn_brand_scnd elev-100" data-bs-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>