<section class="py-7">
    <div class="container">

        <div class="row mb-5">
            <div class="col d-flex justify-content-md-center">
                <div>
                    <h6 class="text-white fw-bold mt-5 mb-3 d-inline-block">Follow us</h6>
                    {{ partial "socials.html" }}
                </div>
            </div>
        </div>

        <hr>

        <div class="row g-3">

            <div class="col-lg-3 col-12 mb-5">
                <div class="mb-5"><img src="/media/space four_RGB_weiss.svg" alt="" height="30"></div>
            </div>
            
            <div class="col-lg-3 col-6">
                <h5 class="text-white fw-bold mb-3">Services</h5>
                <ul class="list-unstyled">
                    {{ range .Site.Menus.footer1 }}
                    <li class="text-white my-1"></li><a class="anchor-brand" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{end}}
                </ul>

            </div>

            <div class="col-lg-3 col-6">
                <h5 class="text-white fw-bold mb-3">Company</h5>
                <ul class="list-unstyled">
                    {{ range .Site.Menus.footer2 }}
                    <li class="text-white my-1"></li><a class="anchor-brand" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{end}}
                </ul>
            </div>
            <div class="col-lg-3 col-12">
                <h5 class="text-white fw-bold mb-3">Kontakt</h5>
                <ul class="list-unstyled">
                    <li class="text-white my-1"><a href="callto:+491626432403" class="anchor-brand">+49 (0) 162 / 6432 403</a></li>
                    <li class="text-white my-1"><a href="mailto:backoffice@space-4.de" class="anchor-brand">backoffice@space-4.de</a></li>
                    <li class="text-white my-1">Bamberg, Germany</li>
                </ul>
            </div>

        </div>
    </div>
</section>


<div class="footer my-5  shadow">
    <div class="container">
        <p class="text-white backdrFilter rounded p-3">Copyright (c) {{ now.Format "2006"}} | Brought to you with 💜 and 💡 by <a href="https://www.space-4.de" target="_blank">Space Four</a> | <a href="https://space-4.de/impressum/" target="_blank">Impressum</a></a></p>
    </div>
</div>

<!-- -------------------- JS ------------------ -->

<script src="/js/bootstrap.bundle.min.js"></script> 
<script src="/js/jquery/dist/jquery.min.js"></script>
<script src="/js/headerShadow.js"></script>
<script src="/js/viewportAnimations.js"></script>