{{ define "main" }}

<section class="test py-7 mb-n1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <h1 class="text-white display-1 fw-bold | mb-5">We are your digital companion.</h1>
                <h3 class="text-white ">Beratung und Agentur für die Entwicklung und Umsetzung von Digitalprojekten.</h2>
            </div>

            <div class="col-lg-4">
              <img class="img-fluid" src="/media/images/sp4mascot.png">
            </div>

        </div>
    </div>
</section>

<section class="py-7 bg_coruscant">
    <div class="container">

        <div class="row | mb-4">
          <h2 class="text-white fw-bold">Featured Projects</h2>
        </div>

        <div class="row g-3 mb-3">
      
            <div class="col-lg-4 col-12">
              <a href="/" class="cardAnchor">
              <div class="card card_brand | backdrFilter brand__hoverEffect">
                <div class="card-body">
                  <img class="icon-sm" src="media/space_four_icon_weiss.png">
                  <div class="spacer_300"></div>
                  <h4 class="mb-2">Kunde</h4>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>
        
            <div class="col-lg-4 col-12">
              <a href="/" class="cardAnchor">
              <div class="card card_brand backdrFilter brand__hoverEffect ">
                <div class="card-body">
                  <img class="icon-sm" src="media/github.png">
                  <div class="spacer_300"></div>
                  <h4 class="mb-2">Kunde</h4>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>
        
            <div class="col-lg-4 col-12">
              <a href="/" class="cardAnchor">
              <div class="card card_brand backdrFilter brand__hoverEffect ">
                <div class="card-body">
                  <img class="icon-sm" src="media/confluence.png">
                  <div class="spacer_300"></div>
                  <h4 class="mb-2">Kunde</h4>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>

        </div>
    </div>
</section>

<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="mb-2"><span class="kicker col_brand">Mission</span></div>
        <h2 class="text-white fw-bold mb-4">Building Products and Brands in Tech</h2>
        <p class="p-l text-white">Zu unseren Kund:innen zählen Tech-Startups, Mittelständler und Marken, die mit einer starken Präsenz im digitalen Space punkten.</p>
        <br>
        <p class="p-l text-white">Wir <mark>beraten</mark> Sie zu Ihrer Digitalstrategie und finden gemeinsam mit Ihnen Lösungen um Ihre Ziele zu realisieren. Wir <mark>designen</mark> diese Lösungen für Sie und helfen Ihnen ein Setup zur Umsetzung aufzubauen. Wir <mark>entwickeln</mark> für Sie Websites, Apps und vieles mehr um Ihr Business zu unterstützen.</p>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4 bg-gray-100 p-5">
        <span class="col-gray-400"><i class="fa-regular fa-object-group fa-3x"></i></span>
        <hr>
        <span class="kicker col_brand">Lorem</span>
        <h3 class="">Service</h3>
        <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        <button class="btn_brand btn_brand_scnd elev-100">Learn more</button>
      </div>

      <div class="col-lg-4 bg-gray-200 p-5">
        <span class="col-gray-400"><i class="fa-regular fa-object-group fa-3x"></i></span>
        <hr>
        <span class="kicker col_brand">Lorem</span>
        <h3 class="">Service</h3>
        <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        <button class="btn_brand btn_brand_scnd elev-100">Learn more</button>
      </div>

      <div class="col-lg-4 bg-gray-300 p-5">
        <span class="col-gray-400"><i class="fa-regular fa-object-group fa-3x"></i></span>
        <hr>
        <span class="kicker col_brand">Lorem</span>
        <h3 class="">Service</h3>
        <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        <button class="btn_brand btn_brand_scnd elev-100">Learn more</button>
      </div>
      
    </div>
  </div>
</section>

<section class="bg_dotted py-10">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-2"><span class="kicker col_brand">Projektmanagement</span></div>
        <h2 class="text-white fw-bold">We connect the dots so you don't have to.</h2>
        <p class="text-white my-4">Um ein Digitalprojekt durchzuziehen benötigen Sie Entwickler, Designer, Tester und System-Admins. Verschiedene Gewerke kommen zusammen, um ein Produkt entstehen zu lassen. Projektmanagement ist unsere Kernkompetenz und wir unterstützen hier auch externe Devteams in diesem Bereich.</p>
        <button class="btn_brand btn_brand_scnd elev-100">Mehr erfahren</button>
      </div>
    </div>
  </div>
</section>

<section class="py-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="mb-2"><span class="kicker col_brand">Expertise</span></div>
        <h2 class="text-white fw-bold">Was wir besonders gut können</h2>
        <p class="text-white mt-3 fw-light">Das sind unsere Kernkompetenzen. Wir helfen natürlich gerne in <span class="col_brand">vielen, weiteren Bereichen</span>, aber hier liegt unsere besondere Stärke.</p>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4">
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Digital-Strategie</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Agiles Projektmanagement</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">UiUx Design</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Website Entwicklung</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Mobile App Entwicklung</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Software Testing</a></h4>
      </div>
    </div>
  </div>
</section>

{{ partial "generalCallToAction.html" }}

{{ end }}