{{ define "main" }}

<section class="test py-7 mb-n1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <h1 class="text-white display-1 fw-bold | mb-5 | fade-in">We are your digital companion.</h1>
                <h3 class="text-white | fade-in t-delay-200">Beratung und Agentur für die Entwicklung und Umsetzung von Digitalprojekten.</h2>
                  <button class="btn_brand btn_brand_prm mt-5 | fade-in t-delay-200" data-bs-toggle="modal" data-bs-target="#contactModal">Kontakt</button>
            </div>

            <div class="col-lg-4 mt-5">
              <img class="img-fluid | slide-in slide-toLeft fade-in t-duration-300" src="/media/images/sp4mascot.png">
            </div>

        </div>
    </div>
</section>

<section class="py-7 bg_gradient_2 elev-inset">
    <div class="container">

        <div class="row | mb-4">
          <h2 class="text-white fw-bold | fade-in slide-in slide-toRight t-duration-100">Featured Projects</h2>
        </div>

        <div class="row g-3 mb-3">
      
            <div class="col-lg-4 col-md-6 col-12 | fade-in slide-in slide-up t-duration-300 t-duration-md-200 t-delay-none">
              <a href="/" class="cardAnchor">
              <div class="card card_brand | backdrFilter brand__hoverEffect">
                <div class="card-body">
                  <img class="icon-sm" src="media/space_four_icon_weiss.png">
                  <div class="spacer_200"></div>
                  <h6>Alcedis GmbH, Gießen</h6>
                  <h4 class="my-2">Website Relaunch</h4>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>
        
            <div class="col-lg-4 col-md-6 col-12 | fade-in slide-in slide-up t-duration-300 t-duration-md-200 t-delay-md t-delay-none">
              <a href="/" class="cardAnchor">
              <div class="card card_brand backdrFilter brand__hoverEffect bg_featuredProject_alcedis">
                <div class="card-body">
                  <img class="featuredProject_customerLogo" src="media/customers/alcedis/alcedis_logo_rgb_weiss@2x.png">
                  <div class="spacer_200"></div>
                  <h6>Alcedis GmbH, Gießen</h6>
                  <h4 class="my-2">Website Relaunch</h4>
                  <p>Design, Umsetzung und Weiterentwicklung der B2B Corporate Website</p>
                </div>
              </div>
              </a>
            </div>
        
            <div class="col-lg-4 col-md-6 col-12 | fade-in slide-in slide-up t-duration-300 t-duration-md-200 t-delay-md-200 t-delay-none">
              <a href="/" class="cardAnchor">
              <div class="card card_brand backdrFilter brand__hoverEffect ">
                <div class="card-body">
                  <img class="icon-sm" src="media/confluence.png">
                  <div class="spacer_200"></div>
                  <h6>Alcedis GmbH, Gießen</h6>
                  <h4 class="my-2">Website Relaunch</h4>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>

        </div>
    </div>
</section>

<section class="py-7">
  <div class="container">
      <div class="row align-items-center g-5">
          <div id="uiux__prototyping" class="col-lg-7 mb-4">

            <div class="mb-2"><span class="kicker col_brand">Mission</span></div>
            <h2 class="text-white fw-bold mb-4">Building Products in Tech</h2>
            <p class="fs-6 text-white">Zu unseren Kund:innen zählen Tech-Startups, Mittelständler und Marken, die mit einer starken Präsenz im digitalen Space punkten.</p>
            <br>
            <ul class="p-3">
              <li class="fs-6 text-white">Wir beraten Sie zu Ihrer Digitalstrategie und finden gemeinsam mit Ihnen Lösungen um Ihre Ziele zu realisieren.</li>
              <li class="fs-6 text-white">Wir designen diese Lösungen für Sie und helfen Ihnen ein Setup zur Umsetzung aufzubauen.</li>
              <li class="fs-6 text-white">Wir entwickeln für Sie Websites, Apps und vieles mehr um Ihr Business zu unterstützen.</li>
            </ul>
          </div>

          <div class="col-lg-5">
              <img class="img-fluid rounded-3 elev-300" src="/media/images/midjourney_astronaut.JPG" alt="">
          </div>

      </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-3 col-md-6 bg-gray-100 p-5 | ">
        <div class="fade-in">
          <span class="col-gray-400"><i class="fa-solid fa-layer-group fa-3x"></i></span>
          <hr>
          <span class="kicker col_brand">Design</span>
          <h3 class="">Ui/Ux & Prototyping</h3>
          <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <a class="link-flush" href="/servicespages/uiux-design/"><button class="btn_brand btn_brand_scnd elev-100">Learn more</button></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 bg-gray-200 p-5">
        <div class="fade-in  t-delay">
          <span class="col-gray-400"><i class="fa-solid fa-code fa-3x"></i></span>
          <hr>
          <span class="kicker col_brand">Dev</span>
          <h3 class="">Frontend Entwicklung</h3>
          <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <a class="link-flush" href="/servicespages/uiux-design/"><button class="btn_brand btn_brand_scnd elev-100">Learn more</button></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 bg-gray-300 p-5">
        <div class="fade-in  t-delay-200">
          <span class="col-gray-400"><i class="fa-solid fa-microscope fa-3x"></i></span>
          <hr>
          <span class="kicker col_brand">Testing</span>
          <h3 class="">Software Testing & QA</h3>
          <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <button class="btn_brand btn_brand_scnd elev-100">Learn more</button>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 bg-gray-500 p-5">
        <div class="fade-in t-delay-300">
          <span class="col-gray-400"><i class="fa-solid fa-bars-progress fa-3x"></i></span>
          <hr>
          <span class="kicker col_brand">PM/PO</span>
          <h3 class="">Agiles Projektmanagement</h3>
          <p class="my-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          <button class="btn_brand btn_brand_scnd elev-100">Learn more</button>
        </div>
      </div>
      
    </div>
  </div>
</section>

{{ partial "generalCallToAction.html" }}

{{ end }}