{{ define "main" }}

<section class="test dottedBackground py-10 mb-n1">
    <div class="container">
        <div class="row h-100 align-items-center">

            <div class="col">
                <h1 class="text-white text-center display-1 | mb-5">We are your digital companion.</h1>
                <h3 class="text-white text-center">Beratung und Agentur für die Entwicklung und Umsetzung von digitalen Ideen.</h2>
            </div>

        </div>
    </div>
</section>

<section class="py-7">
    <div class="container">
        <div class="row g-3 mb-3">
      
            <div class="col-lg-4 col-12">
              <a href="/" class="cardAnchor">
              <div class="card coruscantCard | backdrFilter brand__hoverEffect">
                <div class="card-body">
                  <div class="spacer"></div>
                  <img class="icon-sm mb-5" src="media/space_four_icon_weiss.png">
                  <h4 class="mb-2">Kunde</h6>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>
        
            <div class="col-lg-4 col-12">
              <a href="/" class="cardAnchor">
              <div class="card coruscantCard backdrFilter brand__hoverEffect ">
                <div class="card-body">
                  <div class="spacer"></div>
                  <img class="icon-sm mb-5" src="media/github.png">
                  <h4 class="mb-2">Kunde</h6>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>
        
            <div class="col-lg-4 col-12">
              <a href="/" class="cardAnchor">
              <div class="card coruscantCard backdrFilter brand__hoverEffect ">
                <div class="card-body">
                  <div class="spacer"></div>
                  <img class="icon-sm mb-5" src="media/confluence.png">
                  <h4 class="mb-2">Kunde</h6>
                  <p>Entwicklung und Umsetzung einer Lorem Ipsum Set Dolor Amit. </p>
                </div>
              </div>
              </a>
            </div>

        </div>
    </div>
</section>

<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="mb-2"><span class="kicker color-brand">Mission</span></div>
        <p class="p-l text-white">Zu unseren Kund:innen zählen Tech-Startups, Mittelständler und Marken, die mit einer starken Präsenz im digitalen Space punkten.</p>
        <br>
        <p class="p-l text-white">Wir <mark>beraten</mark> Sie zu Ihrer Digitalstrategie und finden gemeinsam mit Ihnen Lösungen um Ihre Ziele zu realisieren. Wir <mark>designen</mark> diese Lösungen für Sie und helfen Ihnen ein Setup zur Umsetzung aufzubauen. Wir <mark>entwickeln</mark> für Sie Websites, Apps und vieles mehr um Ihr Business zu unterstützen.</p>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="mb-2"><span class="kicker color-brand">Expertise</span></div>
        <h2 class="text-white">Was wir besonders gut können</h2>
        <p class="text-white mt-3 fw-light">Das sind unsere Kernkompetenzen. Wir helfen natürlich gerne in <span class="color-brand">vielen, weiteren Bereichen</span>, aber hier liegt unsere besondere Stärke.</p>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4">
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Digitale Strategie</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">UiUx Design</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Website Entwicklung</a></h4>
        <h4 class="text-white mb-lg-4 mb-3"><a class="anchor-brand fw-lighter" href="/">Mobile App Entwicklung</a></h4>
      </div>
    </div>
  </div>
</section>

{{ partial "generalCallToAction.html" }}

{{ end }}