{{ define "main" }}

<section class="pt-7 pb-5 bg_gradient">
    <div class="container">
        <div class="row">
            <h1 class="text-white fw-bold">{{ .Title }}</h1>
            <p class="text-white">{{ partial "metadata.html" . }}</p>
            <p class="text-white fw-bold fst-italic mt-5">{{ .Summary }}</p>
        </div>
    </div>
</section>

<section class="text-white py-5">
    <div class="container md-content">
        {{ .Content }}
    </div>
</section>

{{ partial "generalCallToAction.html"}}

{{ end }}