/* 

VIEWPORT ANIMATIONS

> Combine multiple effects (e.g. slap classes slide-in and fade-in on the same html element)

> Manipulate animations with utilities
  > t-duration-{200 + x*100} > to increase transition duration by multiples of 100ms

> For many properties nomenclature implemented leaning on Bootstraps Grid-Thresholds
  > no value provided - applied up to 576px
  > sm - applied from 576px upwards
  > md - applied from 768px upwards
  > lg - applied from 992px upwards
  > Breakpoints xl and xxl not applied for Animation Durations

/*********************************************************************/
/* Effects */

/* Fade */

.fade-in {
    opacity: 0;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
  }
  
.fade-in.appear {
  opacity: 1;
}

/* 
    Slide 
    ---
    Combine slide class with a slide-{direction} to have element slide in {direction}
    e.G adding `slide slide-toLeft` to a div will result in div sliding in from right to left 
*/

.slide-in {
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.slide-in.slide-up {
  transform: translateY(30%);
}

.slide-in.slide-down {
    transform: translateY(-30%);
}

.slide-in.slide-toLeft {
  transform: translateX(30%)
}

.slide-in.slide-toRight {
    transform: translateX(-30%)
}

.slide-in.appear {
  transform: translateY(0);
}

/*********************************************************************
    Transition Durations 

    > Default duration of effects is 200ms
    > t-duration-{value} adds {value} miliseconds to the transition-duration
    > t-duration-{viewport-size}-{value} takes viewport-sizes into account

*/

    .t-duration-100 {
        transition-duration: 300ms;
    }
    
    .t-duration-200 {
        transition-duration: 400ms;
    }
    
    .t-duration-300 {
        transition-duration: 500ms;
    }
    
    .t-duration-400 {
        transition-duration: 600ms;
    }
    
    .t-duration-500 {
        transition-duration: 700ms;
    }
    
    .t-duration-600 {
        transition-duration: 800ms;
    }
    
    .t-duration-700 {
        transition-duration: 900ms;
    }
    
    .t-duration-800 {
        transition-duration: 1000ms;
    }

@media screen and (min-width: 576px){
    .t-duration-sm-100 {
        transition-duration: 300ms;
    }
    
    .t-duration-sm-200 {
        transition-duration: 400ms;
    }
    
    .t-duration-sm-300 {
        transition-duration: 500ms;
    }
    
    .t-duration-sm-400 {
        transition-duration: 600ms;
    }
    
    .t-duration-sm-500 {
        transition-duration: 700ms;
    }
    
    .t-duration-sm-600 {
        transition-duration: 800ms;
    }
    
    .t-duration-sm-700 {
        transition-duration: 900ms;
    }
    
    .t-duration-sm-800 {
        transition-duration: 1000ms;
    }
}

@media screen and (min-width: 768px){
    .t-duration-md-100 {
        transition-duration: 300ms;
    }
    
    .t-duration-md-200 {
        transition-duration: 400ms;
    }
    
    .t-duration-md-300 {
        transition-duration: 500ms;
    }
    
    .t-duration-md-400 {
        transition-duration: 600ms;
    }
    
    .t-duration-md-500 {
        transition-duration: 700ms;
    }
    
    .t-duration-md-600 {
        transition-duration: 800ms;
    }
    
    .t-duration-md-700 {
        transition-duration: 900ms;
    }
    
    .t-duration-md-800 {
        transition-duration: 1000ms;
    }
}

@media screen and (min-width: 992px){
    .t-duration-lg-100 {
        transition-duration: 300ms;
    }
    
    .t-duration-lg-200 {
        transition-duration: 400ms;
    }
    
    .t-duration-lg-300 {
        transition-duration: 500ms;
    }
    
    .t-duration-lg-400 {
        transition-duration: 600ms;
    }
    
    .t-duration-lg-500 {
        transition-duration: 700ms;
    }
    
    .t-duration-lg-600 {
        transition-duration: 800ms;
    }
    
    .t-duration-lg-700 {
        transition-duration: 900ms;
    }
    
    .t-duration-lg-800 {
        transition-duration: 1000ms;
    }
}

/*********************************************************************
    Transition Delays 
    
    > t-delay-{value} adds a delay of {value} milliseconds to transition
    > t-delay-{viewport-size}-{value} takes viewport-sizes into account

*/

.t-delay-none {
    transition-delay: none;
}

.t-delay {
    transition-delay: 100ms;
}

.t-delay-200 {
    transition-delay: 200ms;
}

.t-delay-300 {
    transition-delay: 300ms;
}

.t-delay-400 {
    transition-delay: 400ms;
}

.t-delay-600 {
    transition-delay: 600ms;
}

.t-delay-800 {
    transition-delay: 800ms;
}

.t-delay-1000 {
    transition-delay: 1000ms;
}
    
    @media screen and (min-width: 576px){

        .t-delay-sm-none {
            transition-delay: none;
        }

        .t-delay-sm {
            transition-delay: 100ms;
        }

        .t-delay-sm-200 {
            transition-delay: 200ms;
        }

        .t-delay-sm-300 {
            transition-delay: 300ms;
        }

        .t-delay-sm-400 {
            transition-delay: 400ms;
        }

        .t-delay-sm-600 {
            transition-delay: 600ms;
        }

        .t-delay-sm-800 {
            transition-delay: 800ms;
        }

        .t-delay-sm-1000 {
            transition-delay: 1000ms;
        }
    }
    
    @media screen and (min-width: 768px){

        .t-delay-md-none {
            transition-delay: none;
        }

        .t-delay-md {
            transition-delay: 100ms;
        }

        .t-delay-md-200 {
            transition-delay: 200ms;
        }

        .t-delay-md-300 {
            transition-delay: 300ms;
        }

        .t-delay-md-400 {
            transition-delay: 400ms;
        }

        .t-delay-md-600 {
            transition-delay: 600ms;
        }

        .t-delay-md-800 {
            transition-delay: 800ms;
        }

        .t-delay-md-1000 {
            transition-delay: 1000ms;
        }
    }
    
    @media screen and (min-width: 992px){

        .t-delay-lg-none {
            transition-delay: none;
        }

        .t-delay-lg {
            transition-delay: 100ms;
        }

        .t-delay-lg-200 {
            transition-delay: 200ms;
        }

        .t-delay-lg-300 {
            transition-delay: 300ms;
        }

        .t-delay-lg-400 {
            transition-delay: 400ms;
        }

        .t-delay-lg-600 {
            transition-delay: 600ms;
        }

        .t-delay-lg-800 {
            transition-delay: 800ms;
        }

        .t-delay-lg-1000 {
            transition-delay: 1000ms;
        }
    }